
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 10px;
    padding: 10px;
    font-family: "Ubuntu";
    background-image: url("back1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    font-size: 60px;
    color: rgb(48, 51, 53);
    font-weight: bold;
}

h3{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    font-size: 60px;
    font-weight: 400;
    color: rgb(38, 39, 41);
}

.searchClass{
    display: flex;
    justify-content: center;
}

#searchItem, #btnSearch,#idRefresh{
    border-radius: 5px;
    border-color: rgb(15, 115, 228);
    box-shadow: 10px;
    background-color: rgb(36, 40, 152);
    font-family: "Ubuntu";
}

#btnSearch:hover,#idRefresh:hover{
    cursor: pointer;
}

#nameTitle,#capitalTitle,#popTitle,#flagTitle{
    font-size: 30px;
    color: rgb(56, 63, 63);
    font-weight: bold;
}

#name,#capital,#population,#flag{
    font-size: 30px;
    color: rgb(32, 38, 38);
}

#flag{
    border-radius: 5px;
    border-style: none;
    box-shadow: 10px;
    border: 2px solid transparent;
    
}

.btnRefresh{
    display: flex;
    justify-content: center;
}

.fetchSearch{
    display: flex;
    justify-content: center;
}



table{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

th{
    padding: 20px;
    align-items: center;
    background-color: rgb(23, 20, 20);
    color: rgb(46, 48, 50);
    margin: 10px;
    padding-left: 20px;
    border-spacing: 20px;
}

td{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    color: rgb(44, 54, 54);
}



